.one-page-checkout .active .box{
background:none;
}

.one-page-checkout .active .box a{
color:black;
}

.one-page-checkout .active .box button{
background:#4D4D4D;
border:none;
color:#FCCA20;
}

.one-page-checkout .active .inner-box a{
color:black;
}

.one-page-checkout .active .inner-box button{
background:#4D4D4D;
border:none;
color:#FCCA20;
}

.one-page-checkout .allow .head{
background:#CCCCCC;
}

.one-page-checkout .allow .head h3{
color:#4D4D4D;
}

.one-page-checkout .allow .head span{
color:#4D4D4D;
}

.one-page-checkout .active .head{
background:#FCCA20;
}

.one-page-checkout .active .head h3{
color:black;
}

.one-page-checkout .active .head h3 span{
color:black;
}

.one-page-checkout .head{
background:#4D4D4D;
}

.one-page-checkout .head h3{
color:#FCCA20;
}

.one-page-checkout .head h3 span{
color:#FCCA20;
background:black;
}

.one-page-checkout-progress li h4{
background:#4D4D4D;
color:#FCCA21;
}


.one-page-checkout-progress li .complete{
background:#FCCA21;
color:#4D4D4D;
}

.one-page-checkout-progress li a{
color:#4D4D4D;
}

.one-page-checkout .default-box .data-table tr{
background:none;
}


.one-page-checkout .default-box .data-table tr th{
background:none;
}


.one-page-checkout-progress li{
background:none;
color:#4D4D4D;
}

.one-page-checkout .default-box .data-table thead th{
background:none;
border:none;
border-left:solid 0.3px #BBAFA0;
border-right:solid 0.3px #BBAFA0;
color:black;
}

.one-page-checkout .default-box .data-table tbody td{
background:none;
border:none;
border-left:solid 0.3px #BBAFA0;
border-top:solid 0.3px #BBAFA0;
border-right:solid 0.3px #BBAFA0;
color:black;
}

.one-page-checkout .default-box .data-table tfoot td{
background:none;
background-color:#FCC908;
border:none;
color:black;
}

.one-page-checkout .default-box .data-table tfoot td.last{
border-left:solid 0.3px #BBAFA0;
}


.data-table tfoot tr{
background-color:#FFFFFF !important;
color:black;
}

.one-page-checkout #review-buttons-container input{
background:none;
border:none;
background:black;
color:#FCCA21;
text-transform:uppercase;
font-weight:bold;
width:15em;
height:4em;
cursor:pointer;
}