.client-service-header{
background:#4D4D4D !important;
width:98%;
text-align:left;
color:white;
height:90px;
}

.client-service-header .lines{
background:url(../images/servizio-clienti_head.png) top right no-repeat;
height:90px;
}

.client-service-header .lines span{
vertical-align:middle;
font-size:47px;
font-weight:bold;
text-transform:uppercase;
padding-top:22px;
padding-left:8px;
}

.client-service-header .lines br{
margin-bottom:23px;
margin-top:4px;
}

.description-tab-menu-container ul{
margin:0em;
padding:0em;
display: block;
list-style:none;
}

.description-tab-menu-container li {
width:13%;
height:1.85em;
display: block;
float:left;
list-style-type: none;
padding:0px;
margin:0px;
margin-right:5px;
text-align:center;
}

.description-tab-menu-container li{
/*background:url(../images/product-tab-black.png) no-repeat top left;*/
background:#FCCA21;
color:#262626;
text-transform:uppercase;
font-weight:bold;
text-decoration:none;
cursor:pointer;
}
.description-tab-menu-container li.active{
/*background:url(../images/product-tab-yellow.png) no-repeat top left;*/
background:#4D4D4D;
color:white;
}


.description-tab-menu-container li a{
text-decoration:none;
color:#262626;
}

.description-tab-menu-container li.active a{
color:white
}


.description-tab-menu-container {
/*background:url(../images/product-separator.png) no-repeat bottom left;*/
margin-top:10px;
border-bottom:solid 1.5px #4D4D4D;
width:98%;
height:22px;
}

.tabPanels .tabActive{
display:block;
}

#tabPanels .tabInactive{
display:none;
}

.client-service-container{
height:100%;
float:left;
/*height:400px;*/
border:1px #4D4D4D solid;
width:98%;
}

.client-service-container .head{
height:20px;
width:100%;
background-color:#4D4D4D;
margin:0;
}

.client-service-container .left-menu{
float:left;
/*height:380px;*/
width:18%;
background:url(../images/client-service_left-menu-back.png) top left;
padding-top:0px;
padding-bottom:0px;
}

.client-service-container .left-menu ul{
width:90%;
margin:0 auto;
margin-top:4px;
margin-bottom:10px;
}

.client-service-container .left-menu ul li{
background:white;
color:#999999;
margin-top:3px;
text-transform:uppercase;
font-weight:bold;
text-align:right;
padding-right:3px;
cursor:pointer;
}

.client-service-container .left-menu .menu-title{
width:90%;
background:#FCCA21;
color:#262626;
text-transform:uppercase;
font-weight:bold;
text-align:left;
margin:0 auto;
margin-top:10px;
padding-left:3px;
}

#contentsContainer div{
display:none;
}

#contentsContainer .active, #contentsContainer .tabActive{
display:block;
}