.product-img-box{
height:500px;
border-right:solid 1.5px;
width:40%;
padding-top:10px;
}

.product-img-box p{
height:300px;
}

.product-img-box #image{
margin-top:50px;
margin-left:90px;
}

.product-img-box ul{
float:right;
padding-right:20px;
padding-top:70px;
}

.product-img-box ul li{
border:solid 1px;
}

.product-essential{
background:none;
padding:0px;
}

.product-info-box{
border:none;
}

.product-info-boxRo
{
	background:url(../images/catalog/product/box/productRo.jpg) top right no-repeat; 
	margin:0; 
	padding:0;
}

.product-info-boxLo
{
	background:url(../images/catalog/product/box/productLo.jpg) top left no-repeat; 
	margin:0; 
	padding:0;
}

.product-info-boxRu
{
	background:url(../images/catalog/product/box/productRu.jpg) bottom right no-repeat; 
	margin:0; 
	padding:0;
}

.product-info-boxLu
{
	background:url(../images/catalog/product/box/productLu.jpg) bottom left no-repeat; 
	margin:0; 
	padding:0;
}

.product-name{
margin-top:30px;
margin-left:15px;
}

.product-essential .product-shop{
float:left;
width:59.8%;
}

.product-shop-header{
width:100%;
text-transform:uppercase;
font-weight:bold;
text-align:center;
}

.product-shop-header .product-zoom{
width:50%;
background-color:#262626;
float:left;
color:white;
font-size:9px;
}

.product-shop-header .product-zoom span{
background:url(../images/zoom.png) top left no-repeat;
padding-left:16px;
}

.product-shop-header .email-to-friend{
float:left;
background-color:#FCCA21;
color:black;
width:50%;
text-decoration:none;
}

.product-shop-header .email-to-friend span{
background:url(../images/mail.png) center left no-repeat;
padding-left:16px;
}


.description-tab-menu-container ul{
margin:0em;
padding:0em;
display: block;
list-style:none;
}

.description-tab-menu-container li {
width:7.5em;
height:1.85em;
display: block;
float:left;
list-style-type: none;
padding:0px;
margin:0px;
margin-right:5px;
text-align:center;
}

.description-tab-menu-container li.inactive {
/*background:url(../images/product-tab-black.png) no-repeat top left;*/
background:#262626;
color:white;
}
.description-tab-menu-container li.active{
/*background:url(../images/product-tab-yellow.png) no-repeat top left;*/
background:#FCCA21;
color:#262626;
}

.description-tab-menu-container li a{
text-decoration:none;
}

.description-tab-menu-container li.active a{
color:#262626;
}

.description-tab-menu-container li.inactive a{
color:white;
}

.description-tab-menu-container {
/*background:url(../images/product-separator.png) no-repeat bottom left;*/
border-bottom:solid 1.5px #262626;
width:95%;
height:22px;
}

.tabPanels .tabActive{
display:block;
}

#tabPanels .tabInactive{
display:none;
}

.product-collateral{
background: none;
padding:0.2em;
height:200px;
margin-left:20px;
}

.configurable-attributes{
height:12em;
margin-left:20px;
}

.configurable-attribute{
float:left;
margin-left:15px;
margin-right:0px;
width:40%;
}

.product-sum-link{
height:6em;;
}

.configurable-attribute input#Red{
background-color: lightblue;
color: green;
}

.configurable-attribute dt{
padding-top:0em;
padding-left:0em;
padding:0px;
margin:0px;
margin-left:0px;
height:1.85em;
width:7.5em;
background:#262626;
color:white;
text-align:center;
text-transform:uppercase;
}

.configurable-attribute .border-bottom{
padding-top:0px;
margin-bottom:10px;
margin-top:0px;
height:1.85em;
border-bottom:1.5px;
border-bottom-style:solid;
border-bottom-color:#262626;
}

.product-options{
background:none;
border:none;
margin:0px;
padding:0px;
}

.product-options dd{
border:none;
margin-left:2em;
}

.adder {
background:none;
border:none;
background-color:#FCCA21;
color:#262626;
font-weight:bold;
width:18px;
padding:0;
}

.qty-box{
margin-top:0px;
margin-left:20px;
}

.qty-box .input-text{
float:left;
}

.add-to-cart-box {
width:25%;
height:30px;
border:none;
float:right;
padding:0px;
margin:0px;
margin-right:3%;
}

.add-to-cart-box .form-button{
background:none;
border:none;
height:30px;
text-align:left;
padding:0px;
margin:0px;
text-transform:uppercase;
border:none;
background:none;
background:url(../images/add-to-cart_button_l.jpg) top left no-repeat;
color:black;
padding-left:6px;
width:100%;
}


.add-to-cart-box .form-button div{
background:url(../images/add-to-cart_button_r.jpg) top right no-repeat;
float:left;
width:100%;
height:30px;
line-height:12px;
margin-top:0;
padding-bottom:6px;
}

.ship-info-sum span {
margin-top:1.5em;
}

.product-sum-link{
margin-left:0px;
text-align:center;
}

.product-sum-link .sum-link{
text-align:center;
}

.divider{
height:1.5px;/* #262626 solid;*/
background:#262626;
width:100%;
margin-right:0px;
padding-right:0px;
}

.product-sum-link .price-label{
background:url(../images/price-box-frame.png) top right no-repeat;
width: 145px;
height: 40px;
color:#262626;
text-align:center;
text-tran
sform:uppercase;
}

.product-sum-link .price-label .price-label-title{
	float: left;
	height: 15px;
	width: 30px;
}

.product-sum-link #priceBox{
float: right;
clear: left;
width: 120px;
margin-top: 5px;
color:#262626;
text-align:right;
padding-right:5px;
padding-top: 0px;
}

.price-container{
float: left;
}

ul.add-to-box{
width:25%;
height:30px;
border:none;
float:right;
padding:0px;
margin:0px;
margin-right:2%;
}
.add-to-box .wishlist-li{
background:none;
border:none;
height:30px;
text-align:left;
padding:0px;
margin:0px;
border:none;
background:none;
background:url(../images/add-to-wishlist_button_l.jpg) top left no-repeat;
color:black;
padding-left:3px;
width:100%;
display:block;
}

.add-to-box .wishlist-li a{
background:url(../images/add-to-wishlist_button_r.jpg) no-repeat top right;
float:left;
width:100%;
height:19px;
text-transform:uppercase;
text-decoration:none;
color:white;
font-weight:bold;
line-height:4px
}

.back-to-shop-container{
width:15%;
float:left;
height:20px;
padding-top:8px;
font-weight:bold;
margin-left:3%;
margin-top:10px;
}

.back-to-shop{
float:left;
width:100%;
height:20px;
background:url(../images/back-to-shop_button_l.jpg) no-repeat top left;
padding-left:3px;
text-align:left;
}

.back-to-shop a{
float:left;
height:20px;
width:100%;
text-decoration:none;
text-transform:uppercase;
color:white;
background:url(../images/back-to-shop_button_r.jpg) no-repeat top right;
}

span.little{
font-size:7px;
line-height:1px;
margin-top:0;
}

span.medium{
line-height:16px;
}