.product-img-box{
width:50%;
}

.product-essential{
background:none;
border:1.5px #262626 solid;
padding:8px;
}

.product-info-box{
border:none;
}

.product-essential .product-shop{
float:left;
width:50%;
}

.description-tab-menu-container ul{
margin:0em;
padding:0em;
display: block;
list-style:none;
}

.description-tab-menu-container li {
width:7.5em;
height:1.85em;
display: block;
float:left;
list-style-type: none;
padding:0px;
margin:0px;
margin-right:5px;
text-align:center;
}

.description-tab-menu-container li.inactive {
/*background:url(../images/product-tab-black.png) no-repeat top left;*/
background:#262626;
color:white;
}
.description-tab-menu-container li.active{
/*background:url(../images/product-tab-yellow.png) no-repeat top left;*/
background:#FCCA21;
color:#262626;
}

.description-tab-menu-container li a{
text-decoration:none;
}

.description-tab-menu-container li.active a{
color:#262626;
}

.description-tab-menu-container li.inactive a{
color:white;
}

.description-tab-menu-container {
/*background:url(../images/product-separator.png) no-repeat bottom left;*/
border-bottom:solid 1.5px #262626;
width:423px;
height:22px;
}

.tabPanels .tabActive{
display:block;
}

#tabPanels .tabInactive{
display:none;
}

.product-collateral{
background: none;
padding:0.2em;
height:20em;
}

.configurable-attributes{
height:12em;
}

.configurable-attribute{
float:left;
margin-right:0px;
}

.product-sum-link{
height:6em;;
}

.configurable-attribute input#Red{
background-color: lightblue;
color: green;
}

.configurable-attribute dt{
padding-top:0em;
padding-left:0em;
padding:0px;
margin:0px;
margin-left:0px;
height:1.85em;
width:7.5em;
background:#262626;
color:white;
text-align:center;
text-transform:uppercase;
}

.configurable-attribute .border-bottom{
padding-top:0px;
margin-top:0px;
width:141px;
height:1.85em;
border-bottom:1.5px;
border-bottom-style:solid;
border-bottom-color:#262626;
}

.product-options{
background:none;
border:none;
margin:0px;
padding:0px;

}

.product-options dd{
border:none;
margin-left:2em;
}

.qty-box #qty{
margin-top:2em;
margin-left:2em;
}
.add-to-cart-box {
width:7.5em;
height:2.5em;
border:none;
float:left;
padding:0px;
margin:0px;
}

.add-to-cart-box .form-button{
height:2.5em;
width:7.5m;
text-align:left;
text-transform:uppercase;
border:none;
background:none;
/*background-color:#FCCA21;*/
background:url(../images/button-add-to-cart.png) top left no-repeat;
color:black;
}

.add-to-cart-box .form-button span{
background:url(../images/cart.png) right no-repeat;
padding-right:3em;
float:left;
}

.ship-info-sum span {
margin-top:1.5em;
}

.product-sum-link .sum-link{
float:left;
}

.product-shop{
/*border:1.5px #262626 solid;*/
}

.divider{
height:1.5px;/* #262626 solid;*/
background:#262626;
width:423px;
}
.product-sum-link .price-label{
width:7em;
height:1.4em;
color:#262626;
background:#FCCA21;
text-align:center;
text-transform:uppercase;
}

.product-sum-link #priceBox{
background:url(../images/price-box-frame.png) top right no-repeat;
width:12em;
height:1.4em;
float:left;
line-height:1px;
color:#262626;
text-align:right;
padding:1px;
padding-right:3px;
margin-bottom:13px;
margin-right:100px;
}

.price-container{
margin-left:130px;
}

.add-to-box .wishlist-li{
float:left;
width:11em;
height:1.9em;
padding:0px;
background:#4D4D4D;
text-align:center;
}

.add-to-box{
margin-top:4px;
margin-right:60px;
margin-left:60px;
}

.add-to-box .wishlist-li a{
background:url(../images/wishlist.png) no-repeat right;
width:11em;
height:1.9em;
margin:0 auto;
padding-top:2px;
text-decoration:none;
color:white;
text-transform:uppercase;
font-size:11px;
float:left;
}