.mini-product-view{
border:none;
height:510px;
text-align:center;
background:url(../images/latest-viewed-prod_back_lo.jpg) top left no-repeat;
margin:0;
padding:0;
float:left;
}

.col-right {
background:url(../images/latest-viewed-prod_back_ro.jpg) top right no-repeat;
margin:0;
padding:0;
height: 100%;
height:510px;
float:right;
}

.mini-product-view .ru {
background:url(../images/latest-viewed-prod_back_ru.jpg) bottom right no-repeat;
margin:0;
padding:0;
float:left;
height:510px;
}

.mini-product-view .lu {
background:url(../images/latest-viewed-prod_back_lu.jpg) bottom left no-repeat;
margin:0;
padding:0;
float:left;
height:510px;
}

 

.mini-product-view .inhalt {
margin:0;
float:left;
padding-left: 19px;
padding-right:16px;
height: auto;
}

.mini-product-view .head{
border:none;
background: none;
padding-top:0px;
margin-top:0px;
text-transform:lowercase;
font-weight:bold;
font-size:1em;
color:black;
text-align:center;
}

.mini-product-view .related-up-arrow{
position:relative;
border:none;
background:url(../images/related-left-arrow-small.png) top left no-repeat;
margin:0;
float:left;
width:6%;
height:65px;
margin-top:220px;
}

.mini-product-view .content{
background:none;
float:left;
position:relative;
height:320px;
width:75%;
white-space: nowrap;
overflow:hidden;
margin:0;
}

.mini-product-view .related-down-arrow{
border:none;
background:url(../images/related-right-arrow-small.png) top left no-repeat;
float:left;
width:6%;
height:65px;
margin:0;
margin-top:220px;
}

.mini-product-view ol{
background:none;
margin:0em;
padding:0em;
display: block;
list-style:none;
}



.mini-product-view li { 
list-style-type: none;
padding:0px;
margin:0px;
margin-top:8px;
margin-bottom:8px;
padding:10px;
}

.mini-product-view .product-details-container{
width:9.5em;
margin-bottom:0px;
padding-bottom:0px;
margin-left:0px;
}

.mini-product-view .product-details{
background:url(../images/rec-viewed-back.png);
padding:0px;
margin:0px;
font-size:0.8em;
line-height:0.8em;
width:126px;
margin-top:8em;
margin-bottom:0px;
padding-bottom:0px;
}



.mini-product-view .price-box{
display:block;
float:right;
padding:0px;
margin:0px;
}


.mini-product-view .price{
font-weight:normal;
font-size:0.8em;
padding-right:0.5em;
margin-bottom:5px;
text-align:right;
}

.mini-product-view .manufacturer{
display:block;
text-align:left;
padding-top:0.4em;
padding-left:0.5em;
text-transform:uppercase
}


.mini-product-view .category{
display:block;
text-align:left;
padding-left:0.5em;
}
/**/