.recently-viewed-product{
float:right;
padding-right:0px;
margin-right:0px;
}
.mini-product-view{
border:none;
background:url(../images/rec-view-product-box.png) top left no-repeat;
height:165px;
width:443px;
padding-top:0.1em;
}

.mini-product-view .head{
border:none;
background: none;
float:right;
padding-top:0px;
margin-top:0px;
text-transform:lowercase;
font-weight:bold;
font-size:1em;
color:#262626;
margin-right:10px;
}

.mini-product-view .related-left-arrow{
position:relative;
float:left;
border:none;
width:10px;
height:72px;
background:url(../images/rec-view-left-arrow.png) top left no-repeat;
padding:2px;
margin:0em;
margin-top:45px;
margin-left:8px;
margin-right:8px;
}

.base-mini .content{
background:none;
float:left;
position:relative;
height:140px;
width:390px;
white-space: nowrap;
overflow:hidden;
padding:0px;
margin:0px;
/*float:left;*/
padding-bottom:0em;
margin-left:0em;
margin-right:0em;
}

.mini-product-view .related-right-arrow{
float:left;
width:10px;
height:72px;
border:none;
background:url(../images/rec-view-right-arrow.png) top left no-repeat;
padding:2px;
margin:0em;
margin-top:28px;
margin-left:8px;
margin-right:8px;
}

.recently-viewed-product ol{
background:none;
height:110px;
margin:0em;
padding:0em;
display: block;
list-style:none;
}

.recently-viewed-product li { 
display: block;
float:left;
list-style-type: none;
padding:0px;
margin:0px;
margin-right:8px;
margin-left:8px;
}

.recently-viewed-product .product-details-container{
width:9.5em;
margin-bottom:0px;
padding-bottom:0px;
}

.recently-viewed-product .product-details{
background:url(../images/rec-viewed-back.png);
padding:0px;
margin:0px;
font-size:0.8em;
line-height:0.8em;
margin-top:8em;
margin-bottom:0px;
padding-bottom:0px;
color:#FCCA21;
}

.recently-viewed-product .price-box{
display:block;
float:right;
padding:0px;
margin:0px;
}
.recently-viewed-product .price{
font-weight:normal;
font-size:1em;
padding-right:0.5em;
margin-bottom:5px;;
}

.recently-viewed-product .manufacturer{
display:block;
padding-top:0.4em;
padding-left:0.5em;
text-transform:uppercase
}


.recently-viewed-product .category{
display:block;
padding-left:0.5em;
}