.mini-related-items{
border:none;
/*background:url(../images/related-product-box-small.png) top left no-repeat;*/
height:408px;
padding-top:0.1em;
border: solid;
text-align:center;
background:white;
}

.mini-related-items .head{
border:none;
background: none;
padding-top:0px;
margin-top:0px;
text-transform:lowercase;
font-weight:bold;
font-size:1em;
color:black;
text-align:center;
}

.mini-related-items .related-up-arrow{
position:relative;
border:none;
width:10em;
height:2em;
/*background:url(../images/related-left-arrow-small.png) top left no-repeat;*/
background:black;
margin:0em;
}

.base-mini .content{
background:none;
float:left;
position:relative;
height:320px;
width:150px;
white-space: nowrap;
overflow:hidden;
/*float:left;*/
padding-bottom:0em;
margin-left:10px;
}

.mini-related-items .related-down-arrow{
width:10em;
height:2em;
border:none;
/*background:url(../images/related-right-arrow-small.png) top left no-repeat;*/
background:black;
margin-top:4px;
}

.mini-related-items ol{
background:none;
margin:0em;
padding:0em;
display: block;
list-style:none;
}

.mini-related-items li { 
list-style-type: none;
padding:0px;
border:solid;
margin:0px;
margin-top:8px;
margin-bottom:8px;
padding:10px;
}

.mini-related-items .product-details-container{
width:9.5em;
margin-bottom:0px;
padding-bottom:0px;
margin-left:0px;
}

.mini-related-items .product-details{
background:url(../images/related-back.png);
padding:0px;
margin:0px;
font-size:0.8em;
line-height:0.8em;
width:126px;
margin-top:8em;
margin-bottom:0px;
padding-bottom:0px;
}

.mini-related-items{
float:left;
}

.mini-related-items .price-box{
display:block;
float:right;
padding:0px;
margin:0px;
}
.mini-related-items .price{
font-weight:normal;
font-size:0.8em;
padding-right:0.5em;
margin-bottom:5px;
text-align:right;
}

.mini-related-items .manufacturer{
display:block;
text-align:left;
padding-top:0.4em;
padding-left:0.5em;
text-transform:uppercase;
}


.mini-related-items .category{
display:block;
text-align:left;
padding-left:0.5em;
}