.wishlist-left{
float:left;
}

.wishlist-left .product-name{
font-weight:bold;
}

.wishlist-left .product-name a{
color:#262626 !important;
text-decoration:none !important;
}

.wishlist-left .product-category{
color:#B3B3B3 !important;
font-weight:bold;
}

.wishlist-left .product-description{
color:#B3B3B3 !important;
font-weight:bold;
}

.wishlist-right div{
float:rihgt;
text-align:right;
font-size:11px;
}

.wishlist-right .price-head{
border-bottom:2px solid #FCCA21;
float:right;
margin-bottom:0;
padding-bottom:0;
text-align:right;
width:65%;
}

.wishlist-right .price-head div{
background-color:#FCCA21;
color:black;
font-weight:bold;
width:75%;
text-align:right;
padding-right:4px;
text-transform:uppercase;
font-size:12px;
float:right;
}

.wishlist-right .color-head{
border-bottom:2px solid #4D4D4D;
float:right;
margin-bottom:0;
padding-bottom:0;
text-align:left;
width:65%;
}

.wishlist-right{
float:right;
width:50%;
}

.wishlist-right .color-head div{
background-color:#4D4D4D;
color:white;
font-weight:bold;
width:75%;
text-align:left;
padding-left:4px;
text-transform:uppercase;
}

.wishlist-right .info{
margin-bottom:8px;
}

.wishlist-right .info {
background-position:bottom right;
background-repeat:no-repeat;
margin-left:40px;
}

/*Aggiungere il colore desiderato dopo aver uploadato l'immagine con il cerchio colorato richiesta*/

.wishlist-right #red{
background-image:url(../images/circle-red.jpg);
}

.wishlist-right #blue{
background-image:url(../images/circle-blue.jpg);
}

.wishlist-right #green{
background-image:url(../images/circle-green.jpg);
}

.wishlist-right #yellow{
background-image:url(../images/circle-yellow.jpg);
}

.wishlist-right #black{
background-image:url(../images/circle-black.jpg);
}

#wishlist-table td{
height:27em;
}

.wishlist-right .view-button{
margin-top:10px;
margin-bottom:12px;
float:right;
}

.wishlist-right .view-button a{
background: url(../images/wishlist-view_button.png) no-repeat top left;
padding:0.25em 4.1em 0.5em 1em;
text-align:left;
text-decoration:none;
color:white;
text-transform:uppercase;
font-weight:bold;
}

.wishlist-right .remove-button {
margin-bottom:12px;
float:right;
}

.wishlist-right .remove-button a{
background:url(../images/wishlist-remove_button.png) no-repeat top left;
padding:0.3em 2.5em 0.2em 1em;
text-align:left;
text-transform:uppercase;
font-weight:bold;
text-decoration:none;
color:white !important;
}

.wishlist-right .cart-button{
margin-bottom:12px;
}

.wishlist-right .link-cart{
background:url(../images/wishlist-add2cart_button.png) no-repeat top left;
padding:0.25em 5.4em 0.3em 0.55em;
text-align:left;
text-decoration:none;
text-transform:uppercase;
color:black !important;
}

.data-table .even {
background:none !important;
}

.data-table tbody td{
border:none;
}

.data-table .odd{
background:none;
}
.data-table{
border:none;
}

.page-head{
margin:0px;
border-bottom:solid 1px #262626;
}

.page-head h3{
background:url(../images/wishlist-head.png) no-repeat top left;
color:white !important;
padding-left:1em;
padding-top:0.2em;
font-size:15px !important;
text-transform:uppercase !important;
}