<?xml version="1.0"?>
<config>
  <modules>
    <Coolision_News>
      <version>0.1.0</version>
    </Coolision_News>
  </modules>
  <frontend>
    <routers>
      <news>
	<use>standard</use>
	<args>
	  <module>Coolision_News</module>
	  <frontName>news</frontName>
	</args>
      </news>
    </routers>
    <layout>
      <updates>
	<news>
	  <file>news.xml</file>
	</news>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <news>
	<use>admin</use>
	<args>
	  <module>Coolision_News</module>
	  <frontName>news</frontName>
	</args>
      </news>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <news module="news">
	<title>News</title>
	<sort_order>71</sort_order>               
	<children>
	  <items module="news">
	    <title>Manage News</title>
	    <sort_order>0</sort_order>
	    <action>news/adminhtml_news</action>
	  </items>
	</children>
      </news>
    </menu>
    <acl>
      <resources>
	<all>
	  <title>Allow Everything</title>
	</all>
	<admin>
	  <children>
	    <news>
	      <title>News Module</title>
	      <sort_order>200</sort_order>
	    </news>
	  </children>
	</admin>
      </resources>   
    </acl>
    <layout>
      <updates>
	<news>
	  <file>news.xml</file>
	</news>
      </updates>
    </layout>
  </adminhtml>   
  <global>
    <models>
      <news>
	<class>Coolision_News_Model</class>
	<resourceModel>news_mysql4</resourceModel>
      </news>
      <news_mysql4>
	<class>Coolision_News_Model_Mysql4</class>
	<entities>
	  <news>
	    <table>news</table>
	  </news>
	</entities>
      </news_mysql4>
    </models>
    <resources>
      <news_setup>
	<setup>
	  <module>Coolision_News</module>
	</setup>
	<connection>
	  <use>core_setup</use>
	</connection>
      </news_setup>
      <news_write>
	<connection>
	  <use>core_write</use>
	</connection>
      </news_write>
      <news_read>
	<connection>
	  <use>core_read</use>
	</connection>
      </news_read>
    </resources>
    <blocks>
      <news>
	<class>Coolision_News_Block</class>
      </news>
    </blocks>
    <helpers>
      <news>
	<class>Coolision_News_Helper</class>
      </news>
    </helpers>
  </global>
</config>