<?xml version="1.0"?>
<config>
	<modules>
        <Coolision_Url>
            <version>0.1.0</version>
        </Coolision_Url>
    </modules>
    <global>
        <models>
            <core>
                <rewrite>
                    <url>Coolision_Core_Model_Url</url>
                </rewrite>
            </core>
        </models>
    </global>
</config>
